body {
  margin: 0;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
}

/* header */

.header {
  height: 72px;
  background: #1F2937;
  color: #E5E7EB;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 0 24px;
  
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

ul a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
  padding-left: 18px;
}

.nav-right {
  margin-left: auto;
}

/* ******************************** */

